body {
  background-image: url("main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  cursor: none; /* hide cursor */
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

@font-face {
  font-family: digital7;
  src: url(digital-7.woff);
}

.header {
  background-color: #000;
  padding: 10px 40px;
  text-align: center;
  opacity:0.7;
}

.isi {
  padding: 200px;
  text-align: center;
  font-size: 35px;
}

.footer {
  padding: 10px;
  text-align: center;
  position:fixed;
  bottom:10px;
  width:100%;
}

.jam {
  	font-size: 75px;
  	font-family: digital7;
  	text-shadow: 0 0 20px #fff;
  	letter-spacing: 5px;
   	color: #fff;
   	user-select: none;
   	opacity:1;
}

.hari {
  	font-size: 35px;
  	text-shadow: 0 0 8px #fff;
   	color: #fff;
   	user-select: none;
}

.tgl {
  	font-size: 40px;
  	text-shadow: 0 0 8px #fff;
   	color: #fff;
   	user-select: none;
}

.jam2 {
	font-size: 55px;
	font-family: digital7;
}

.col-sm {
	  box-shadow: 0 34px 28px 0 rgba(0, 0, 0, 0.2), 0 26px 20px 0 rgba(0, 0, 0, 0.19);

	border-radius: 12px;
}

<!-- Modal -->
 .modal-content{
 	background-color: #0f0;
    color:white;
 }
 .modal-header{
 	background-color: #0f0;
    color:white;
    text-align: center;
    font-size: 30px;
  }
  